
body {
	padding: 0;
	margin: auto;
}
h4 {
	text-align: center;
}
p {
	text-align: center;
}
i {
	color:white; 
	font-family: open sans, sans-serif;
	font-size: 12px;
}
header {
	background-image: url(images/hero.png);
	color: white;
}
.button {
	font-family: Helvetic, Arial, sans-serif 
	font-size: 12px;
}
#Mentors {
	background-color: #67c372;
	color: white;
}
#Sponsors {
	background-color: #67c372;
	color: white;
}
#School {
	background-color: #67c372;
	color: white;
}
.icons {
	text-align: center;
}
#CTA {
    background-color:#262F36;
    color: white;

}
footer {
	background-color:#262F36;
	color: white;
}

